<div id="demographics-generator" layout="row" layout-align="center stretch" flex>

  <md-sidenav id="md-sidenav-right" class="md-sidenav-right" md-component-id="md-sidenav-right" md-whiteframe="4">
    <div ng-include="vm.settingsTemplate"></div>
  </md-sidenav>

  <section id="main" class="layout-padding-well" flex="75">
    <div layout="column" layout-align="start stretch">
      <md-whiteframe class="md-whiteframe-1dp layout-padding-well">
        <div  class="layout-padding-well" ng-repeat="race in vm.selectedRaces | orderBy: 'name'">
          ({{race.id}}) Race: {{race.name}}

          <div layout="row" layout-align="start center">
            <md-chips ng-model="race.tags" readonly="true" md-removable="false">
              <md-chip-template>
                <span class="hint">{{$chip.name}}</span>
              </md-chip-template>
            </md-chips>
          </div>
          <ul ng-if="race.subraces.length > 0">
            <li ng-repeat="subrace in race.subraces" layout="column" layout-align="start stretch">
              <div>
                ({{subrace.owner}} / {{subrace.id}}) {{subrace.name}}: Allowed: {{subrace.isAllowed}}, Weight: {{subrace.weight.custom}}
              </div>

              <div layout="row" layout-align="start center">
                <md-chips ng-model="subrace.tags" readonly="true" md-removable="false">
                  <md-chip-template>
                    <span class="hint">{{$chip.name}}</span>
                  </md-chip-template>
                </md-chips>
              </div>
            </li>
          </ul>
        </div>
      </md-whiteframe>
    </div>

  </section>
  <section id="sidebar" class="layout-padding-well border-left-1" md-colors="{'border-color': 'background-300'}" flex="25">
    <h4>Settings:</h4>
    <div class="layout-margin-vertical layout-padding-vertical hint border-bottom-1" md-colors="{'border-color': 'background-300'}">
      Opening any setting will reset the generator.
    </div>
    <div layout="row" layout-align="space-around center">
      <md-button class="md-raised md-primary no-margin" ng-click="vm.toggleSettingsSidebar('raceSettings')">edit races</md-button>
      <md-button class="md-raised md-primary no-margin" ng-click="vm.toggleSettingsSidebar('ageSettings')">edit age</md-button>
    </div>
  </section>
</div>
